<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page de connexion</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('adminlte/plugins/fontawesome-free/css/all.min.css') }}">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="{{ asset('adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('adminlte/dist/css/adminlte.min.css') }}">
</head>
<style>
    .login-page, .register-page {
        background-image: url("{{ asset('adminlte/dist/img/login-bg.jpg') }}") !important;
    }
    .form-control, .input-group-text {
        border-top: none !important;
        border-right: none !important;
        border-left: none !important;
        border-bottom: 1px solid #ced4da !important;
    }
    .login-box {
        box-shadow: 10px 10px 20px gray !important;
    }
    .mylogin-btn {
        color: #fff;
        background: #2469D8;
        border-color: #2469D8;
    }
    .mylogin-btn:hover {
        color: #fff;
        background: #1b53ae;
        border-color: #184896;
    }
    
</style>
<body class="hold-transition login-page">
{% block body %}
<div class="login-box">
    <div class="login-logo">
        <a href=""><b>Système de logistique des camions</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Veuillez vous connecter</p>

            {% if error %}
                <span class="invalid-feedback d-block mb-3">
                    <span class="d-block">
                        <span class="form-error-icon badge badge-danger text-uppercase">Erreur</span>
                            <span class="form-error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                    </span>
                </span>
            {% endif %}

            {% if app.user %}
                <div class="d-block mb-3">
                    <span class="d-block">
                        <span class="badge badge-info text-uppercase">Info</span>
                            <span>
                            <span class="small">Vous êtes déjà connecté en tant que {{ app.user.userIdentifier }}, </span>
                                <a href="{{ path('app_logout') }}">Se déconnecter</a>
                            </span>
                    </span>
                </div>
            {% endif %}
            <form method="post">
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Nom d'utilisateur">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                    <input type="password" name="password" id="inputPassword"  class="form-control" placeholder="Mot de passe">
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                </div>
                <div class="row">

                    <!-- /.col -->
                    <div class="col-3"></div>
                    <div class="col-6">
                        <button type="submit" class="btn mylogin-btn btn-block">Se connecter</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <!-- /.social-auth-links -->
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->
{% endblock %}
<!-- jQuery -->
<script src="{{ asset('adminlte/plugins/jquery/jquery.min.js') }}"></script>
<!-- Bootstrap 4 -->
<script src="{{ asset('adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('adminlte/dist/js/adminlte.min.js') }}"></script>
</body>
</html>
