{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
<style>
    label.col-form-label.col-sm-2.required{
        max-width: 100% !important;
        flex: 0 0 100% !important;
    }
    input[type="search"] {
        width: 0% !important;
    }
    .form-control {
        width: 120% !important;
    }
    .user-open {
        background-color: #2469D8 !important;
    }
    .user-open:hover {
        background-color: #1b53ae !important;
    }
</style>
{% endblock %}

{% block content_wrapper %}
<div class="content-wrapper">
    <section class="content">
        <div class="register-box register-box mt-0 ml-auto mr-auto w-50">
            <div class="card card-outline card-primary">
                <div class="card-header text-center">
                <a href="#" class="h1">Ajouter une nouvelle utilisateur</a>
                </div>
                <div class="card-body">
                <p class="login-box-msg">Veuillez complètez les champs</p>
                {{ form_start(form) }}
                    {{ form_row(form.username, {'label': 'Nom d\'utilisateur', 
                                                'attr': {
                                                    'placeholder': 'Nom d\'utilisateur',
                                                    'autocomplete': 'false'
                                                    }
                                                }
                                )
                    }}
                    {{ form_row(form.password, {'label': 'Mot de passe', 
                                                'attr': {
                                                    'placeholder': 'Mot de passe',
                                                    'autocomplete': 'false'
                                                    }
                                                }
                                )
                    }}
                    {{ form_row(form.confirm_password, {'label': 'Confirmation votre mot de passe', 
                                                'attr': {
                                                    'placeholder': 'Répétez votre mot de passe',
                                                    'autocomplete': 'false'
                                                    }
                                                }
                                )
                    }}
            

                <div class="social-auth-links text-center">
                    <button class="btn btn-block btn-primary" type="submit">Inscription</button>
                </div>
                <!-- /.form-box -->{{ form_end(form) }}
            </div><!-- /.card -->
        </div>
        <!-- /.register-box -->
    </section>
</div>
{% endblock %}
