<form method="post" action="{{ path('app_driver_delete', {'id': driver.id}) }}" onsubmit="return confirm('Vous voulez vraiment supprimer ce chauffeur?');" style="display: inline-block;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ driver.id) }}">
    <button class="btn btn-delete"><i class="fa fa-trash"></i> Supprimer</button>
</form>
