<style>
    label.col-form-label.col-sm-2.required{
        max-width: 100% !important;
        flex: 0 0 100% !important;
    }
    input[type="search"] {
        width: 0% !important;
    }
    .form-control , .custom-file {
        width: 120% !important;
    }
    .driver-open {
        background-color: #2469D8 !important;
        border: none;
    }
    .driver-open:hover {
        background-color: #1b53ae !important;
    }
</style>
<div class="register-box register-box mt-0 ml-auto mr-auto w-50">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
        <a href="#" class="h1">{{ title }}</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Veuillez complètez les champs</p>
            {{ form_start(form) }}
                {{ form_row(form.lastName, {'label': 'Nom du chauffeur', 
                                            'attr': {
                                                'placeholder':'Nom'
                                                }
                                            }
                            )
                }}
                {{ form_row(form.firstName, {'label': 'Prénom du chauffeur', 
                                            'attr': {
                                                'placeholder':'Prénom'
                                                }
                                            }
                            )
                }}
                {{ form_row(form.address, {'label': 'Adresse du chauffeur', 
                                            'attr': {
                                                'placeholder':'Adresse'
                                                }
                                            }
                            )
                }}
                {{ form_row(form.age, {'label': 'Âge du chauffeur', 
                                            'attr': {
                                                'placeholder':'XX ans',
                                                }
                                            }
                            )
                }}
                {{ form_row(form.noTel, {'label': 'Téléphone du chauffeur', 
                                            'attr': {
                                                'placeholder':'+2613X XX XXX XX'
                                                }
                                            }
                            )
                }}
                {{ form_row(form.avalaible, {'label': 'Disponibile', 
                                        'attr': {
                                            }
                                        }
                                )
                }}

            <div class="social-auth-links text-center row">
                <button class="col-6 btn btn-block btn-success"><i class="fa fa-save"></i>  {{ button_label|default('Enregistrer') }}</button>
                <span class="col-1"></span>
                <a class="col-5 btn btn-primary" href="{{ path('app_driver_index') }}"><i class="fas fa-undo"></i>  Revenir</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
        {{ form_end(form) }}
    </div>
    <!-- /.register-box -->
</div>