{% extends 'base.html.twig' %}

{% block title %}Modifier un(e) chauffeur(e){% endblock %}

{% block content_wrapper %}
<div class="content-wrapper">
    <section class="content">

        {{ include('driver/_form.html.twig', {'button_label': 'Modifier','title':'Modifier un(e) chauffeur(e)'}) }}
    
    </section>
</div>

{% endblock %}
