{% extends 'base.html.twig' %}

{% block title %}Les chauffeurs{% endblock %}

{% block stylesheets %}
<style>
    .driver-open, .btn.add-btn {
        background-color: #2469D8 !important;
        border: none;
    }
    .driver-open:hover, .btn.add-btn:hover {
        background-color: #1b53ae !important;
    }
    .btn-delete {
        color: white !important;
        background: #D7415E !important;
    }
    .btn-delete:hover {
        background: #bc3852 !important;
    }

    th {
        vertical-align: text-top !important;
    }
</style>
{% endblock %}

{% block content_wrapper %}
<div class="content-wrapper">
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title" style="font-size: 40px !important">Liste des chauffeurs</h3>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn add-btn float-right text-light" href="{{ path('app_driver_new') }}"><i class="fa fa-plus-circle"></i> Ajouter un(e) chauffeur</a>
                {% endif %}
            </div>
            <!-- /.card-header -->
            <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
                <thead style="text-align: center;">
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Adresse</th>
                    <th style="min-width: 1%;">Âge</th>
                    <th style="min-width: 14%;">N° tél</th>
                    <th>Disponible</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th style="min-width: 246px;">Actions</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for driver in drivers %}
                    <tr>
                        <td>{{ driver.id }}</td>
                        <td>{{ driver.lastName }}</td>
                        <td>{{ driver.firstName }}</td>
                        <td>{{ driver.address }}</td>
                        <td>{{ driver.age }}</td>
                        <td>
                            <a href="tel:{{ driver.noTel }}">{{ driver.noTel }}</a>
                        </td>
                        <td>
                        {% if driver.avalaible=='true' %}
                            <span>Oui</span>
                        {% else %}
                            <span>Non</span>
                        {% endif %}
                        </td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td>
                                <!--<a class="btn btn-info" href="{#{{ path('app_driver_show', {'id': driver.id}) }}#}"><i class="fas fa-eye"></i> Voir</a>-->
                                <a class="btn btn-success" href="{{ path('app_driver_edit', {'id': driver.id}) }}"><i class="fas fa-edit"></i> Modifier</a>
                                {{ include('driver/_delete_form.html.twig') }}
                            </td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">Pas de chauffeur trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
</div>
{% endblock %}