{% extends 'base.html.twig' %}

{% block title %}Ajouter un(e) chauffeur(e){% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}

{% block content_wrapper %}
<div class="content-wrapper">
    <section class="content">   
        {{ include('driver/_form.html.twig', {'title':'Ajouter un(e) chauffeur(e)'}) }}

    </section>
</div>
{% endblock %}
