<style>
    label.col-form-label.col-sm-2{
        max-width: 100% !important;
        flex: 0 0 100% !important;
    }
    input[type="search"] {
        width: 0% !important;
    }
    .form-control , .custom-file , select.form-select {
        width: 120% !important;
    }
    .delivery-open {
        background-color: #2469D8 !important;
    }
    .delivery-open:hover {
        background-color: #1b53ae !important;
    }
    label.col-form-label.col-sm-2[for="delivery_deliverySlip"]::after{
        font-size: 80%;
        font-weight: 400;
        color: #17a2b8;
        display: inline-block;
        padding: .25em .4em;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25rem;
        content: 'Veuillez scanner le Bon de livraison';
    }
    select.form-select {
        height: 140%;
    }
    legend.col-form-label.col-sm-2.required {
        max-width: 100% !important;
        flex: 0 0 100% !important;
    }
    .myDateForm > .visually-hidden {
        display: none;
    }
    .myDateForm .input-group {
        margin-top: 1%;
    }
    #delivery_date_day, #delivery_date_month, #delivery_date_year {
        width: 15% !important;
        margin: 0 1%;
    }
    .driver-list , .car-list {
        position: fixed;
        width: 35% !important;
        float: right;
        right: 0%;
        height: 273px;
        overflow-y: scroll;

    }
    .driver-list {
        top: 9%;
    }
    .car-list {
        top: 51%;
    }
</style>
<div class="register-box register-box mt-0 w-50 ml-5">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
        <a href="#" class="h1">{{ title }}</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Veuillez complètez les champs</p>
            {{ form_start(form) }}
                {{ form_row(form.date, {'label': 'Date de livraison', 
                                            'attr': {
                                                'class': 'myDateForm'
                                                }
                                            }
                            )
                }}
                {{ form_row(form.driver, {'label': 'Le chauffeur', 
                                            'attr': {
                                                }
                                            }
                            )
                }}
                {{ form_row(form.car, {'label': 'Le véhicule', 
                                            'attr': {
                                                }
                                            }
                            )
                }}
                {{ form_row(form.distance, {'label': 'La distance en km', 
                                            'attr': {
                                                'placeholder':'XX km',
                                                }
                                            }
                            )
                }}
                    {{ form_row(form.depart, {'label': 'Le camion est sortie', 
                                                'attr': {
                                                'class': 'myDateForm'
                                                    }
                                                }
                                )
                    }}
                    {{ form_row(form.back, {'label': 'Le camion est rentrée', 
                                                'attr': {
                                                'class': 'myDateForm'
                                                    }
                                                }
                                )
                    }}
                
            <div class="social-auth-links text-center row">
                <button class="col-6 btn btn-block btn-success"><i class="fa fa-save"></i>  {{ button_label|default('Enregistrer') }}</button>
                <span class="col-1"></span>
                <a class="col-5 btn btn-primary" href="{{ path('app_delivery_index') }}"><i class="fas fa-undo"></i>  Revenir</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
        {{ form_end(form) }}
    </div>
    <!-- /.register-box -->
</div>

<div class="mt-0 driver-list">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">
                <p>Liste des chauffeurs disponible</p>
            </h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool">
                <i class="fas fa-sync-alt"></i>
                </button>
            </div>
            <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">
        <table class="table table-bordered table-hover">
                <thead style="text-align: center;">
                    <tr>
                        <th style="width:0.3%">Nom</th>
                        <th style="width:0.3%">Prénom</th>
                    </tr>
                </thead>
                <tbody>
                {% if title == "Ajouter une livraison" %}
                {% for driver in drivers %}
                    {% if driver.avalaible %}
                        <tr>
                            <td>{{ driver.lastName }}</td>
                            <td>{{ driver.firstName }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
</div>


<div class="mt-0 car-list">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">
                <p>Liste des chauffeurs disponible</p>
            </h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool">
                <i class="fas fa-sync-alt"></i>
                </button>
            </div>
            <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">
        <table class="table table-bordered table-hover">
                <thead style="text-align: center;">
                    <tr>
                        <th style="width:0.3%">Type</th>
                        <th style="width:0.3%">N° Imat</th>
                    </tr>
                </thead>
                <tbody>
                {% if title == "Ajouter une livraison" %}
                    {% for car in cars %}
                        {% if car.avalaible %}
                            <tr>
                                <td>{{ car.type }}</td>
                                <td>{{ car.numImat }}</td>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
</div>

 <script>
    $(document).ready(function() {
    $('.js-datepicker').datepicker({
        format: 'dd-mm-yyyy'
    });
});
    $(document).ready(function() {
    $('.js-datetimepicker').timepicker({
        format: 'h:i'
    });
});


</script>