{% extends 'base.html.twig' %}

{% block title %}Modifier une livraison{% endblock %}

{% block content_wrapper %}
    <div class="content-wrapper">
        <section class="content">

        {{ include('delivery/_form.html.twig', {'button_label': 'Modifier','title':'Modifier une livraison'}) }}
        </section>
    </div>
{% endblock %}

