{% extends 'base.html.twig' %}

{% block title %}Les livraisons{% endblock %}

{% block stylesheets %}
<style>
    .delivery-open, .btn.add-btn {
        background-color: #2469D8 !important;
        border: none;
    }
    .delivery-open:hover, .btn.add-btn:hover {
        background-color: #1b53ae !important;
    }

    th {
        vertical-align: text-top !important;
    }
    input[type="date"][disabled] {
        opacity: 1 !important;
        background: white !important;
        border: none;
        color: #454d55;
    }
</style>
{% endblock %}

{% block content_wrapper %}
<div class="content-wrapper">
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title" style="font-size: 40px !important">Expédition des livraisons</h3>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn add-btn float-right text-light" href="{{ path('app_delivery_new') }}"><i class="fa fa-plus-circle"></i> Ajouter une livraison</a>
                {% endif %}
            </div>
            <!-- /.card-header -->
            <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
                <thead style="text-align: center;">
                <tr>
                    <th style="width: 1%;">#</th>
                    <th style="width: 10%;">Date</th>
                    {#<th style="width: 10%;">Bon de livraison</th>#}
                    <th>Chauffeur</th>
                    <th>Voiture</th>
                    <th style="width: 1%;">Distance</th>
                    <th style="width: 13%;">Sortie</th>
                    <th style="width: 13%;">Rentrée</th>
                    <th style="width: 1%;">Modif</th>
                </tr>
                </thead>
                <tbody>
                {% for delivery in deliveries %}
                    <tr>
                        <td>{{ delivery.id }}</td>
                        <td>
                            <input type="date" value="{{ delivery.date ? delivery.date|date('Y-m-d') : '' }}" disabled>
                        </td>
                        <td>{{ delivery.driver }}</td>
                        <td>{{ delivery.car }}</td>
                        <td>{{ delivery.distance }}km</td>
                        <td>
                            {{ delivery.depart ? delivery.depart|date('Y-m-d H:i') : '' }}
                        </td>
                        <td>
                            {{ delivery.back ? delivery.back|date('Y-m-d H:i') : '' }}
                        </td>
                        <td>
                            <a class="btn btn-success" href="{{ path('app_delivery_edit', {'id': delivery.id}) }}"><i class="fas fa-edit"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">Pas de livraison trouvée</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
</div>
<!-- The Modal -->
<div id="myModal" class="modal modal-centered mod1">
  <div style="height: 10%;" id="caption"></div>
  <span class="close">&times;</span>
  <img style="width: 60%;" class="modal-content" id="photoV">
</div>
{% endblock %}

{% block script %}
<script>
    {% for delivery in deliveries %}
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById("{{ delivery.id }}");
    
    var modalImg = document.getElementById("photoV");

    var captionText = document.getElementById("caption");
    img.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("mod1")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() { 
        modal.style.display = "none";
    }
{% endfor %}
</script>

{% endblock %}
