{% extends 'base.html.twig' %}

{% block title %}Nouvelle livraison{% endblock %}

{% block content_wrapper %}
<div class="content-wrapper">
    <section class="content">   
        {{ include('delivery/_form.html.twig', {'title':'Ajouter une livraison'}) }}

    </section>
</div>
{% endblock %}
