{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block stylesheets %}
<style>
  #myImg {
    cursor: pointer;
    transition: 0.3s;
    }

    #myImg:hover {opacity: 0.7;}

    /* The Modal (background) */
    .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 3%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (image) */
    .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    }

    /* Caption of Modal Image */
    #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    }

    /* Add Animation */
    .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
    }

    @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
    }

    /* The Close Button */
    .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    }

    .close:hover,
    .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
    }
    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
    }
</style>
{% endblock %}

{% block prelod %}
  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <!--<img class="animation__wobble" src="" >-->
    <h1 class="animation__wobble bg-info p-md-3">Bienvenu sur le tableau de bord | système de logistique de camion</h1>
  </div>
  <style>
  .dark-mode .preloader {
    background-image: url("{{ asset('adminlte/dist/img/preloader-img.jpg') }}") !important;
  }
  .dash-open {
      background-color: #2469D8 !important;
  }
  .dash-open:hover {
      background-color: #1b53ae !important;
  }
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
  </style>

{% endblock %}

{% block content_wrapper %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-7">
            <h1 class="m-0">Tableau de bord | système de logistique de camion</h1>
          </div><!-- /.col -->
          <div class="col-sm-5">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Accueil</a></li>
              <li class="breadcrumb-item active">Tableau de bord</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-users"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Utilisateurs</span>
                  <span class="info-box-number">{{ userCount|raw }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-danger elevation-1"><i class="fa fa-user"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Chauffeurs</span>
                  <span class="info-box-number">{{ driverCount|raw }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->

            <!-- fix for small devices only -->
            <div class="clearfix hidden-md-up"></div>

            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-success elevation-1"><i class="fa fa-tasks"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Livraison</span>
                  <span class="info-box-number">{{ deliveryCount|raw }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-warning elevation-1"><i class="fa fa-truck"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Véhicules</span>
                  <span class="info-box-number">{{ carCount|raw }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
          
       <!-- PIE CHART -->
       <div class="row">
            <div class="card card-info col-6" style="background: #ffffff9c;">
              <div class="card-header" style="background: #2469D8;">
                <h3 class="card-title">
                  <i class="fa fa-truck"></i>
                  Disponibilité des voitures</h3>
              </div>
              <div class="card-body">
                <canvas id="cars" style="width: 250px;"></canvas>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

          <div class="col-6">
            <!-- Bar chart Livraison -->
            <div class="card card-info" style="background: #ffffff9c;">
              <div class="card-header" style="background: #2469D8;">
                <h3 class="card-title">
                  <i class="far fa-chart-bar"></i>
                  Les livraisons par mois
                </h3>
              </div>
              <div class="card-body">
                <canvas id="bar-chart" style="height: 300px;"></canvas>
              </div>
              <!-- /.card-body-->
            </div>
            <!-- /.card -->
          </div>
          </div><!--row-->





            <!-- Livraison en attente -->
            <div class="card card-info col-12" style="overflow-y: scroll; height: 282px;">
              <div class="card-header" style="background: #2469D8;">
                <h3 class="card-title">Les livraisons en attente</h3>
              </div>
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead style="text-align: center;">
                  <tr>
                      <th style="width: 10%;">Date</th>
                      <th>Chauffeur</th>
                      <th>Voiture</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for delivery in deliveries %}
                      <tr>
                          <td>
                              <input type="date" value="{{ delivery.date ? delivery.date|date('Y-m-d') : '' }}">
                          </td>
                          <td>{{ delivery.driver }}</td>
                          <td>{{ delivery.car }}</td>
                      </tr>
                  {% else %}
                      <tr>
                          <td colspan="7">Pas de livraison trouvée</td>
                      </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->


      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<!-- The Delivery Modal -->
<div id="myModal" class="modal modal-centered mod1">
  <div style="height: 10%;" id="caption"></div>
  <span class="close">&times;</span>
  <img style="width: 60%;" class="modal-content" id="photoV">
</div>
{% endblock %}


{% block script %}
<script>
{# ChartJs Car Graphe #}
  let cars = document.querySelector("#cars");
  let carGraph = new Chart(cars, {
    type: "doughnut",
    data: {
      labels: ["Voitures non disponibles","Voitures disponibles"],
      datasets: [{
        label: "Répartition des voitures",
        data: [{{ countUnAvalaible|raw }}, {{ countAvalaible|raw }},],
        backgroundColor: ['#D09F00', '#bc3852']
      }]
    }
  })

{# ChartJs Delivery Graphe #}
  let delivery = document.querySelector("#bar-chart");
  let dellGraph = new Chart(delivery, {
    type: "line",
    data: {
      labels: {{ dates|raw }},
      datasets: [{
        label: "Nombre de livraison",
        data: {{ deliveryCountByDate|raw }},
        backgroundColor: '#D09F00'
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true,
            stepBy: 1
          }
        }]
      }
    }
  })
</script>
{% endblock %}
