<form method="post" action="{{ path('app_car_delete', {'id': car.id}) }}" onsubmit="return confirm('Vous voulez vraiment supprimer ce véhicule?');" style="display: inline-block;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ car.id) }}">
    <button class="btn btn-delete"><i class="fa fa-trash"></i> Supprimer</button>
</form>
