<style>
    label.col-form-label.col-sm-2{
        max-width: 100% !important;
        flex: 0 0 100% !important;
    }
    input[type="search"] {
        width: 0% !important;
    }
    .form-control , .custom-file {
        width: 120% !important;
    }
    .car-open {
        background-color: #2469D8 !important;
        border: none;
    }
    .car-open:hover {
        background-color: #1b53ae !important;
    }
    select#car_owner {
        width: 120%;
        height: 130%;
    }

    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 47px;
        height: 20px;
    }
    input[id="driver_avalaible"] {
        opacity: 0;
        width: 0;
        height: 0;
    }
    #driver_avalaibl {
        opacity: 0;
    }
    .form-check-label {
        margin-bottom: 13px;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #c82333;
        -webkit-transition: .4s;
        transition: 0.4s;
        border-radius: 34px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 13px;
        width: 13px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;

    }

    input:checked + .slider {
        background-color: #28a745;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
</style>
<div class="register-box register-box mt-0 ml-auto mr-auto w-50">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
        <a href="#" class="h1">{{ title }}</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Veuillez complètez les champs</p>
            {{ form_start(form) }}
                {{ form_row(form.numImat, {'label': 'N° d\'immatriculation', 
                                            'attr': {
                                                'placeholder':'XXXX XXX'
                                                }
                                            }
                            )
                }}
                {{ form_row(form.type, {'label': 'Type de véhicule', 
                                            'attr': {
                                                'placeholder':'Type de véhicule'
                                                }
                                            }
                            )
                }}
                {{ form_row(form.inGarage, {'label': 'Dans le garage ?', 
                                            'attr': {
                                                }
                                            }
                            )
                }}
                {{ form_row(form.owner, {'label': 'Le propriétaire', 
                                            'attr': {
                                                }
                                            }
                            )
                }}
                {{ form_row(form.avalaible, {'label': 'Disponible ?', 
                                            'attr': {
                                                'class' : 'd-inline'
                                                }
                                            }
                            )
                }}
            <div class="social-auth-links text-center row">
                <button class="col-6 btn btn-block btn-success"><i class="fa fa-save"></i>  {{ button_label|default('Enregistrer') }}</button>
                <span class="col-1"></span>
                <a class="col-5 btn btn-primary" href="{{ path('app_car_index') }}"><i class="fas fa-undo"></i>  Revenir</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
        {{ form_end(form) }}
    </div>
    <!-- /.register-box -->
</div>
