{% extends 'base.html.twig' %}

{% block title %}Modifier un véhicule{% endblock %}


{% block content_wrapper %}
<div class="content-wrapper">
    <section class="content">

        {{ include('car/_form.html.twig', {'button_label': 'Modifier','title':'Modifier un véhicule'}) }}
    
    </section>
</div>
{% endblock %}
