{% extends 'base.html.twig' %}

{% block title %}Les véhicules{% endblock %}

{% block stylesheets %}
<style>
    .car-open, .btn.add-btn {
        background-color: #2469D8 !important;
        border: none;
    }
    .car-open:hover, .btn.add-btn:hover {
        background-color: #1b53ae !important;
    }
    .btn-delete {
        color: white !important;
        background: #D7415E !important;
    }
    .btn-delete:hover {
        background: #bc3852 !important;
    }

    th {
        vertical-align: text-top !important;
    }
</style>
{% endblock %}

{% block content_wrapper %}
<div class="content-wrapper">
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title" style="font-size: 40px !important">Liste des véhicules</h3>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn add-btn float-right text-light" href="{{ path('app_car_new') }}"><i class="fa fa-plus-circle"></i> Ajouter un véhicule</a>
                {% endif %}
            </div>
            <!-- /.card-header -->
            <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
                <thead style="text-align: center;">
                <tr>
                    <th style="width: 1%;">#</th>
                    <th style="width: 10%;">N° Imat</th>
                    <th>Type</th>
                    <th style="width: 10%;">En garage</th>
                    <th>Propriétaire</th>
                    <th style="width: 10%;">Disponible</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th style="width: 246px;">Actions</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for car in cars %}
                    <tr>
                        <td>{{ car.id }}</td>
                        <td>{{ car.numImat }}</td>
                        <td>{{ car.type }}</td>
                        <td>{{ car.inGarage ? 'Oui' : 'Non' }}</td>
                        <td>{{ car.owner }}</td>
                        <td>{{ car.avalaible ? 'Oui' : 'Non' }}</td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td>
                                {# <a href="{{ path('app_car_show', {'id': car.id}) }}">show</a> #}
                                <a class="btn btn-success" href="{{ path('app_car_edit', {'id': car.id}) }}"><i class="fas fa-edit"></i> Modifier</a>
                                {{ include('car/_delete_form.html.twig') }}
                            </td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">Pas de véhicules trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
</div>
{% endblock %}
