{% extends 'base.html.twig' %}

{% block title %}Nouvelle véhicule{% endblock %}

{% block content_wrapper %}
<div class="content-wrapper">
    <section class="content">   
        {{ include('car/_form.html.twig', {'title':'Ajouter une véhicule'}) }}

    </section>
</div>
{% endblock %}
