<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}  {% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}
    <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="{{ asset('adminlte/https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback') }}">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="{{ asset('adminlte/plugins/fontawesome-free/css/all.min.css') }}">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{{ asset('adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css') }}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ asset('adminlte/dist/css/adminlte.min.css') }}">
  <!-- ChartJs -->
  <link rel="stylesheet" href="{{ asset('adminlte/plugins/chart.js/Chart.min.css') }}">
</head>
<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        {% block prelod %}
        {% endblock %}
          <!-- Navbar -->
            <nav class="main-header navbar navbar-expand navbar-dark">
                <!-- Left navbar links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                    </li>
                    <li class="col-md-12">
                        <form action="#">
                            <div class="input-group">
                                <input type="search" class="form-control form-control-md" placeholder="Recherche...">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-md btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
                

                <!-- Right navbar links -->
                <ul class="navbar-nav ml-auto">
                <!-- Profil user Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a href="#" class="d-block nav-link" data-toggle="dropdown">
                        <div class="d-block">
                            {{ app.user.username }}
                            <i class="fas fa-angle-down m-2"></i><br>
                        {#<small class="small" style="font-size: 9px;">{{ app.user.roles ? app.user.roles|json_encode : '' }}</small>
                        #}</div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-item dropdown-header">L'utilisateur connecté</span>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-user mr-2"></i>{{ app.user.username }}
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-file mr-2"></i> {{ app.user.roles ? app.user.roles|json_encode : '' }}
                    </a>
                    <div class="dropdown-divider"></div>
                    {% if app.user %}
                        <a href="{{ path('app_logout') }}" class="dropdown-item dropdown-footer">
                            <i class="fas fa-sign-out-alt"></i>
                            Déconnecter
                        </a>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="dropdown-item dropdown-footer">
                        Connecter
                        </a>
                    {% endif %}
                    </div>
                </li>
                </ul>
            </nav>
        <!-- /.navbar -->
          <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href=" {{ path('app_admin') }}" class="brand-link">
            <img src="{{ asset('adminlte/dist/img/SLdC-logo.png') }}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">Logistique de camion</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="{{ path('app_admin') }}" class="nav-link dash-open">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Tableau de bord
                        </p>
                    </a>
                </li>
                <li class="nav-header">PERSONNES</li>
                <li class="nav-item">
                    <a href="{{ path('app_user_index') }}" class="nav-link  user-open">
                    <i class="nav-icon fas fa-users"></i>
                    <p>
                        Utilisateurs
                    </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_driver_index') }}" class="nav-link  driver-open">
                    <i class="nav-icon fa fa-user"></i>
                    <p>
                        Chauffeurs
                    </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_owner_index') }}" class="nav-link  owner-open">
                    <i class="nav-icon fa fa-user"></i>
                    <p>
                        Propriétaires
                    </p>
                    </a>
                </li>
                <li class="nav-header">VEHICULES</li>
                <li class="nav-item">
                    <a href="{{ path('app_car_index') }}" class="nav-link  car-open">
                    <i class="nav-icon fa fa-truck"></i>
                    <p>
                        Camions
                    </p>
                    </a>
                </li>
                <li class="nav-header"> GèRER LES LIVRAISONS</li>
                <li class="nav-item">
                    <a href="{{ path('app_delivery_index') }}" class="nav-link  delivery-open">
                    <i class="nav-icon fa fa-tasks"></i>
                    <p>
                        Livraisons
                    </p>
                    </a>
                </li>

                <li class="nav-header">DECONNEXION</li>
                <li class="nav-item b-0">
                    <a href="{{ path('app_logout') }}" class="nav-link">
                    <i class="nav-icon fas fa-sign-out-alt"></i>
                    <p>
                        Déconnecter
                    </p>
                    </a>
                </li>
                
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        {% block content_wrapper %}
        {% endblock %}
          <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->

        <!-- Main Footer -->
        <footer class="main-footer">
            <strong>Copyright &copy; feb 2023</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
            <b>Hasinjato M.</b>
            </div>
        </footer>
        </div>
        <!-- ./wrapper -->
        
                
        <!-- REQUIRED SCRIPTS -->
        <!-- jQuery -->
        <script src="{{ asset('adminlte/plugins/jquery/jquery.min.js') }}"></script>
        <!-- Bootstrap -->
        <script src="{{ asset('adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <!-- overlayScrollbars -->
        <script src="{{ asset('adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
        <!-- AdminLTE App -->
        <script src="{{ asset('adminlte/dist/js/adminlte.js') }}"></script>

        <!-- PAGE PLUGINS -->
        <!-- jQuery Mapael -->
        <script src="{{ asset('adminlte/plugins/jquery-mousewheel/jquery.mousewheel.js') }}"></script>
        <script src="{{ asset('adminlte/plugins/raphael/raphael.min.js') }}"></script>
        <script src="{{ asset('adminlte/plugins/jquery-mapael/jquery.mapael.min.js') }}"></script>
        <script src="{{ asset('adminlte/plugins/jquery-mapael/maps/usa_states.min.js') }}"></script>
        <!-- ChartJS -->
        <script src="{{ asset('adminlte/plugins/chart.js/Chart.min.js') }}"></script>
        

        <!-- AdminLTE for demo purposes -->
        <script src="{{ asset('adminlte/dist/js/demo.js') }}"></script>
        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
        <script src="{{ asset('adminlte/dist/js/pages/dashboard2.js') }}"></script>

        {% block script %}
        {% endblock %}
    </body>
</html>