<form method="post" action="{{ path('app_owner_delete', {'id': owner.id}) }}" onsubmit="return confirm('Vous voulez vraiment supprimer cet propriétaire?');" style="display: inline-block;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ owner.id) }}">
    <button class="btn btn-delete"><i class="fa fa-trash"></i> Supprimer</button>   
</form>
