<style>
    
    .owner-open {
        background-color: #2469D8 !important;
    }
    .owner-open:hover {
        background-color: #1b53ae !important;
    }
    label.col-form-label.col-sm-2.required{
        max-width: 100% !important;
        flex: 0 0 100% !important;
    }
    input[type="search"] {
        width: 0% !important;
    }
    .form-control , .custom-file {
        width: 120% !important;
    }
    label.col-form-label.col-sm-2.required[for="owner_photo"]::after{
        content: 'Prend en photo le propriétaire en paysage';
        font-size: 80%;
        font-weight: 400;
        color: #17a2b8;
        display: inline-block;
        padding: .25em .4em;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25rem;
    }
    .ownerImg {
        float: right;
        width: 15%;
    }
</style>
<div class="register-box register-box mt-0 ml-auto mr-auto w-50">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
        <a href="#" class="h1">{{ title }}</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Veuillez complètez les champs</p>
            {{ form_start(form) }}
                {{ form_row(form.lastName, {'label': 'Nom du propriétaire', 
                                            'attr': {
                                                'placeholder':'Nom'
                                                }
                                            }
                            )
                }}
                {{ form_row(form.firstName, {'label': 'Prénom du propriétaire', 
                                            'attr': {
                                                'placeholder':'Prénom'
                                                }
                                            }
                            )
                }}
                {% if form.photo.vars.data %} 
                    <img class="ownerImg" src="{{ asset('/uploads/photos/owners/' ~ form.photo.vars.data) }}"/>
                {% endif %}
                {{ form_row(form.photo, {'label': 'Photo du propriétaire  ', 
                                            'attr': {
                                                }
                                            }
                            )
                }}
                {{ form_row(form.noTel, {'label': 'Téléphone du propriétaire', 
                                            'attr': {
                                                'placeholder':'+2613X XX XXX XX'

                                                }
                                            }
                            )
                }}
                {{ form_row(form.address, {'label': 'Adresse du propriétaire', 
                                            'attr': {
                                                'placeholder':'Adresse'
                                                }
                                            }
                            )
                }}
                
            <div class="social-auth-links text-center row">
                <button class="col-6 btn btn-block btn-success"><i class="fa fa-save"></i>  {{ button_label|default('Enregistrer') }}</button>
                <span class="col-1"></span>
                <a class="col-5 btn btn-primary" href="{{ path('app_owner_index') }}"><i class="fas fa-undo"></i>  Revenir</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
        {{ form_end(form) }}
    </div>
    <!-- /.register-box -->
</div>