{% extends 'base.html.twig' %}

{% block title %}Modifier un(e) propriétaire{% endblock %}

{% block content_wrapper %}
<div class="content-wrapper">
    <section class="content">

    {{ include('owner/_form.html.twig', {'button_label': 'Modifier','title':'Modifier un(e) propriétaire'}) }}

{% endblock %}
