{% extends 'base.html.twig' %}

{% block title %}Les propriétaires{% endblock %}

{% block stylesheets %}
<style>
    .owner-open, .btn.add-btn {
        background-color: #2469D8 !important;
        border: none;
    }
    .owner-open:hover, .btn.add-btn:hover {
        background-color: #1b53ae !important;
    }
    .btn-delete {
        color: white !important;
        background: #D7415E !important;
    }
    .btn-delete:hover {
        background: #bc3852 !important;
    }
    th {
        vertical-align: text-top !important;
    }
        /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 3%; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    /* Caption of Modal Image */
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    /* Add Animation */
    .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
    }

    @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
    }

    /* The Close Button */
    .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    }

    .close:hover,
    .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
    }
    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
        .modal-content {
            width: 100%;
        }
    }
</style>
{% endblock %}  

{% block content_wrapper %}
<div class="content-wrapper">
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title" style="font-size: 40px !important">Liste des propriétaires</h3>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn add-btn float-right text-light" href="{{ path('app_owner_new') }}"><i class="fa fa-plus-circle"></i> Ajouter un propriétaire</a>
                {% endif %}
            </div>
            <!-- /.card-header -->
            <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
                <thead style="text-align: center;">
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th style="min-width: 1%;">Photo</th>
                    <th style="min-width: 14%;">N° tél</th>
                    <th>Adresse</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th style="width: 242px;">Actions</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for owner in owners %}
                    <tr>
                        <td>{{ owner.id }}</td>
                        <td>{{ owner.lastName }}</td>
                        <td>{{ owner.firstName }}</td>
                        <td>
                            <div class="img-fluid">
                                <img id="{{ owner.id }}" class="w-100" src="{{ asset('uploads/photos/owners/' ~ owner.photo) }}" alt="Photo de {{ owner.lastName }} {{ owner.firstName }}">
                            </div>
                        </td>
                        <td>
                            <a href="tel:{{ owner.noTel }}">{{ owner.noTel }}</a>
                            </td>
                        <td>{{ owner.address }}</td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td>
                                {#<a href="{{ path('app_owner_show', {'id': owner.id}) }}"><i class="fas fa-show"></i>Voir</a>#}
                                <a class="btn btn-success"  href="{{ path('app_owner_edit', {'id': owner.id}) }}"><i class="fas fa-edit"></i>Modifier</a>
                                {{ include('owner/_delete_form.html.twig') }}
                            </td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">Pas de propriétaire trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
</div>
<!-- The Modal1 -->
<div id="myModal" class="modal modal-centered mod1">
  <div style="height: 10%;" id="caption"></div>
  <span class="close">&times;</span>
  <img style="width: 28%;" class="modal-content" id="imgO">
</div>
{% endblock %}
{% block script %}
    {% for owner in owners %}
        <script>
            // Get the modal
            var modal = document.getElementById("myModal");

            // Get the image and insert it inside the modal - use its "alt" text as a caption
            var img = document.getElementById("{{ owner.id }}");
            
            var modalImg = document.getElementById("imgO");

            var captionText = document.getElementById("caption");
            img.onclick = function(){
                modal.style.display = "block";
                modalImg.src = this.src;
                captionText.innerHTML = this.alt;
            }

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("mod1")[0];

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() { 
                modal.style.display = "none";
            }
        </script>
    {% endfor %}
{% endblock %}
