{% extends 'base.html.twig' %}

{% block title %}Ajouter un(e) propriétaire{% endblock %}

{% block content_wrapper %}
<div class="content-wrapper">
    <section class="content">

    {{ include('owner/_form.html.twig', {'title':'Ajouter un(e) propriétaire'}) }}

{% endblock %}
