<form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Vous voulez supprimer cette utilisateur?');" style="display: inline-block;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-delete"><i class="fa fa-trash"></i> Supprimer</button>
</form>
