{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}
{% block stylesheets %}
<style>
    .page-link {
        font-size: 16px !important;
    }
    .user-open, .btn.float-right {
        background-color: #2469D8 !important;
        border: none;
    }
    .user-open:hover, .btn.float-right:hover {
        background-color: #1b53ae !important;
    }
    .btn-user {
        color: white !important;
        background: #2096F3 !important;
    }
    .btn-user:hover {
        background: #1b84d4 !important;
    }
    .btn-delete {
        color: white !important;
        background: #D7415E !important;
    }
    .btn-delete:hover {
        background: #bc3852 !important;
    }
</style>
{% endblock %}
{% block content_wrapper %}
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title" style="font-size: 40px !important">Les utilisateurs</h3>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-success float-right" href="{{ path('app_register') }}"><i class="fa fa-plus-circle"></i> Ajouter une nouvelle</a>
                        {% endif %}
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="text-center">
                                <th>#</th>
                                <th>Nom</th>
                                <th>Rôles</th>
                                <th>Mot de passe</th>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <th style="width: 216px;">Actions</th>
                                {% endif %}
                            </tr>
                        </thead>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                            <td class="small">{{ user.password }}</td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td>
                                    <a class="btn btn-user" href="{{ path('app_user_show', {'id': user.id}) }}"><i class="fas fa-eye"></i> Voir</a>
                                    {{ include('user/_delete_form.html.twig') }}
                                    {#<a class="btn btn-success" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>#}
                                </td>
                            {% endif %}
                        </tr>
                         {% else %}
                        <tr>
                            <td class="text-center" colspan="5">no records found</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                    <!-- /.card-body -->
                <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-left">
                        <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                    </ul>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </section>
</div>

{#
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Roles</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>
    #}
{% endblock %}
