{% extends 'base.html.twig' %}

{% block title %}Description de l'utilisateur{% endblock %}

{% block stylesheets %}
<style>
    .user-open, .btn.back-btn {
        background-color: #2469D8 !important;
        border: none;
    }
    .user-open:hover, .btn.back-btn:hover {
        background-color: #1b53ae !important;
    }
    .btn-delete {
        color: white !important;
        background: #D7415E !important;
    }
    .btn-delete:hover {
        background: #bc3852 !important;
    }
</style>
{% endblock %}

{% block content_wrapper %}
<div class="content-wrapper">
    <section class="content">
        <h2 class="text-center mt-5">Description de l'utilisateur</h2>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Utilisateur</h3>
                <div class="card-tools"><span>n° {{ user.id }}</span> 
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="data-t">
                    <tr>
                        <th style="width:  30% !important;padding: 15px;">Nom d'utilisateur</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th style="padding: 15px;">Rôles</th>
                        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    </tr>
                    <tr>
                        <th style="padding: 15px;">Mot de passe crypté</th>
                        <td>{{ user.password }}</td>
                    </tr>
                    <tr class="text-center">
                        <th>
                            {{ include('user/_delete_form.html.twig') }}
                        </th>
                        <td>
                            <a class="btn back-btn text-light" href="{{ path('app_user_index') }}">
                                <i class="fas fa-undo"></i> Revenir en arrière
                            </a>
                        </td>
                    </tr>
                </table>
                 
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
    </div>
    <div class="col-md-2"></div>
        {#<a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>#}
    </section>
</div>
{% endblock %}
